/*----------Modal--------- */

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  top: 50%;
  left: 50%;

  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--bcg-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  display: flex;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;

  cursor: pointer;
}

.close-button__icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .close-button:hover &,
  .close-button:focus & {
    fill: var(--accent-color);
  }
}
