:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --white-text-color: #ffffff;
  --bcg-color-white: #ffffff;
  --bcg-color-grey: #2f303a;
  --bcg-color-pink: #f5f4fa;
}
